# Ignore node_modules in all folders
**/node_modules/

# Ignore build output
**/dist/
**/build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .env files
**/.env
**/.env.*  # for files like .env.local, .env.development

# OS or IDE specific files
.DS_Store
Thumbs.db
.vscode/
.idea/
